.btn-up {
    position: fixed;
    right: 2rem;
    bottom: 14rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    font-size: 5rem;
}

.btn-up:hover {
    background: #131313;
    color: #FFFFFF;
}

.btn-up-hide {
    display: none;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .btn-up {
        display: none;
    }
}

@media (max-width: 768px) {
    .btn-up {
        display: none;
    }
}



/*$(document).ready(function($) {*/
/*// Клик по ссылке "Закрыть".*/
/*$('.popup-close').click(function() {*/
/*    $(this).parents('.popup-fade').fadeOut();*/
/*    return false;*/
/*});*/

/*// Закрытие по клавише Esc.*/
/*$(document).keydown(function(e) {*/
/*if (e.keyCode === 27) {*/
/*    e.stopPropagation();*/
/*    $('.popup-fade').fadeOut();*/
/*}*/
/*});*/

/*// Клик по фону, но не по окну.*/
/*$('.popup-fade').click(function(e) {*/
/*if ($(e.target).closest('.popup').length == 0) {*/
/*    $(this).fadeOut();*/
/*}*/
/*});*/
/*});*/