@import "normalize.css";
@import "base.css";
@import "container.css";
@import "header.css";
@import "footer.css";
@import "burger-menu.css";
@import "modal.css";

@import "section-1.css";
@import "section-2.css";
@import "section-3.css";
@import "section-4.css";
@import "section-5.css";
@import "btn-up.css";

.landing-page-content {
    display: flex;
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
@media (max-width: 1200px) {
    
}
@media (max-width: 992px) {
    .landing-page-content {
        padding-top: 0;
    }
}
@media (max-width: 768px) {

}